allure-pytest
allure-python-commons
atomicwrites
attrs
certifi
charset-normalizer
colorama
idna
importlib-metadata
iniconfig
jsonpath
packaging
pip
pluggy
py
PyHamcrest
pyparsing
pytest
pytest-assume
PyYAML
requests
setuptools
six
tomli
typing_extensions
urllib3
zipp